section.canhcam-jobs-2
	.container
		h2.text-title Cơ hội nghề nghiệp
		.row.mb-2
			.col
				.table-responsive
					table.table
						thead
							tr
								th(scope='col') STT
								th(scope='col') Vị trí tuyển dụng
								th(scope='col') Số lượng
								th(scope='col') Hạn nộp hồ sơ
						tbody
							tr
								th 01
								td(scope='row') 
									a(href="/jobs-detail.html") NHÂN VIÊN Kinh doanh
								td 01
								td 31.07.2018
							tr
								
								th 02
								td(scope='row') 
									a(href="/jobs-detail.html") Nhân viên CONTENT marketing
								td 05
								td 31.07.2018
							tr
								th 03
								td(scope='row') 
									a(href="/jobs-detail.html") Nhân viên Kế toán
								td 01
								td 31.07.2018
							tr
								th 04
								td(scope='row') 
									a(href="/jobs-detail.html") Nhân viên biên tập
								td 04
								td 31.07.2018
							tr
								th 05
								td(scope='row') 
									a(href="/jobs-detail.html") NHÂN VIÊN THIẾT KẾ 
								td 01
								td 31.07.2018
							tr
								th 06
								td(scope='row') 
									a(href="/jobs-detail.html") Nhân viên BẢO VỆ
								td 2
								td 31.07.2018