section.canhcam-boxes-4(bg-img="./img/home_bg_1.png")
	article.project-hot
		.container
			.row.mb-5
				.col.text-center
					h2 Tại sao nên chọn An Tường Real
			.row
				.col-lg-3.part-list
					.row.align-items-center.tinh
						.col-8.col-lg-7.order-lg-1.order-2.align-self-center.text-lg-right.text-center.p-0
							h3 Đa dạng sản phẩm
							p Hơn 100 dự án bất động sản thuộc nhiều phân khúc khác nhau
						.col-4.col-lg-5.order-1.order-lg-2.mb-4.mb-lg-0.text-center.d-flex.justify-content-center.p-0
							.about
								img.img-fluid(src="img/home_icon_2.png", alt="")
					.row.topp.tinh.align-items-center
						.col-8.col-lg-7.order-lg-1.order-2.align-self-center.text-lg-right.text-center.p-0
							h3 Đa dạng sản phẩm
							p Hơn 100 dự án bất động sản thuộc nhiều phân khúc khác nhau
						.col-4.col-lg-5.order-1.order-lg-2.mb-4.mb-lg-0.text-center.d-flex.justify-content-center.p-0
							.about
								img.img-fluid(src="img/home_icon_3.png", alt="")
				.col-lg-6.top-project
					a.item(href="#")
						figure
							img.img-fluid(src="./img/home_laptop.png", alt="alt")
				.col-lg-3.part-list
					.row.align-items-center.tinh
						.col-8.col-lg-7.order-lg-2.order-1.align-self-center.text-lg-left.text-center.p-0
							h3 Đa dạng sản phẩm
							p Hơn 100 dự án bất động sản thuộc nhiều phân khúc khác nhau
						.col-4.col-lg-5.order-2.order-lg-1.mb-3.mb-lg-0.text-center.d-flex.justify-content-center.p-0.mt-3.mt-lg-0
							.about
								img.img-fluid(src="img/home_icon_4.png", alt="")
					.row.topp.tinh.align-items-center
						.col-8.col-lg-7.order-lg-2.order-1.align-self-center.text-lg-left.text-center.p-0
							h3 Đa dạng sản phẩm
							p Hơn 100 dự án bất động sản thuộc nhiều phân khúc khác nhau
						.col-4.col-lg-5.order-2.order-lg-1.mb-4.mb-lg-0.text-center.d-flex.justify-content-center.p-0.mt-3.mt-lg-0
							.about
								img.img-fluid(src="img/home_icon_6.png", alt="")