section.canhcam-carousel-5
	h2.text-title Tin tức
	.container
		article.owl-carousel.owl-theme.list-items
			.item
				figure
					a(href='#')
						.picture
							img.img-fluid(src="./img/content/home/home_slider_04.png",  alt="alt")
					figcaption
						time 13/08/2018
						p Vai trò của thiết kế trong Content Marketing và những điều Marketer cần biết.
			.item
				figure
					a(href='#')
						.picture
							img.img-fluid(src="./img/content/home/home_slider_05.png",  alt="alt")
					figcaption
						time 13/08/2018
						p Vai trò của thiết kế trong Content Marketing và những điều Marketer cần biết.
			.item
				figure
					a(href='#')
						.picture
							img.img-fluid(src="./img/content/home/home_slider_06.png",  alt="alt")
					figcaption
						time 13/08/2018
						p Vai trò của thiết kế trong Content Marketing và những điều Marketer cần biết.