section.canhcam-breadcrumb-1
	article.owl-carousel.owl-theme.list-items
		.item(bg-img-responsive="./img/breadcrumb/slider.png", bg-img-responsive-sm="./img/breadcrumb/slider.png", bg-img-responsive-xs="./img/breadcrumb/slider.png")
	.main-breadcrumb
		.container
			.url
				ol.breadcrumb
					li.breadcrumb-item
						a(href='#') Trang chủ
					li.breadcrumb-item
						a(href='#') Dịch vụ
				.title
					h2 Dịch Vụ
			
