section.home-1(bg-img="img/bg_1.png").d-flex.align-items-center
	article.container
		.row
			.col-md-7
				.title
					ul.list-inline
						li.list-inline-item
							a(href="#") Trang chủ
							i.fa.fa-angel-right
						li.list-inline-item
							a(href="#") Tuyển dụng
							i.fa.fa-angel-right
						li.list-inline-item
							a(href="#") Nhân viên content maketing
							i.fa.fa-angel-right
					h1 Tuyển dụng