section.canhcam-services-1
	article.news-hot(data-aos="zoom-out-down")
		.container
			.row.title
				h2 Dịch Vụ
			.row#products
				.col-sm-6.col-lg-4
					a.item(href="/services-detail.html")
						figure
							img.img-fluid(src="./img/content/service/service_01.png", alt="alt")
							figcaption
								h3 Bài Fanpage Social
				.col-sm-6.col-lg-4
					a.item(href="/services-detail.html")
						figure
							img.img-fluid(src="./img/content/service/service_02.png", alt="alt")
							figcaption
								h3 Bài viết chuẩn SEO
				.col-sm-6.col-lg-4
					a.item(href="/services-detail.html")
						figure
							img.img-fluid(src="./img/content/service/service_03.png", alt="alt")
							figcaption
								h3 Bài viết Facebook ads, quảng cáo sản phẩm
				.col-sm-6.col-lg-4
					a.item(href="/services-detail.html")
						figure
							img.img-fluid(src="./img/content/service/service_04.png", alt="alt")
							figcaption
								h3 Bài báo, quảng bá sản phẩm, PR thương hiệu
				.col-sm-6.col-lg-4
					a.item(href="/services-detail.html")
						figure
							img.img-fluid(src="./img/content/service/service_05.png", alt="alt")
							figcaption
								h3 Landing page bán hàng trực tuyến
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/content/service/service_06.png", alt="alt")
							figcaption
								h3 Bài PR đăng website