section.canhcam-news-details-1
	article.container
		.row
			.col-lg-8
				.news-read
					h1 Kusto Home to officially introduce Bora Bora tower in Ho Chi Minh City
					time 12/12/2017
					p.lead Một số thuật ngữ được sử dụng trong bài viết 9 Xu hướng Content Marketing 2018:
					.text-1
						p Influencer marketing: 
							span một hình thức marketing sử dụng những influencer (tạm dịch là người ảnh hưởng) để gửi thông điệp của nhãn hàng đến thị trường.
						p Cause marketing:
							span  kết hợp giữa quảng bá sản phẩm và khuyến khích phúc lợi xã hội.
						p Thế hệ Millennial: 
							span hay còn gọi là thế hệ Y, khái niệm dùng để chỉ những người sinh ra trong khoảng thời gian từ 1980 đến những năm đầu thập niên 2000 (18-35 tuổi). Đây là những người lớn lên cùng các phương tiện truyền thông xã hội như forum, blog, Facebook… đồng thời họ là lực lượng lao động chủ đạo của hiện tại và tương lai.

						p Actionable marketing:
							span khả năng tiếp thị để thuyết phục khách hàng tiềm năng và công chúng tham gia với công ty của bạn.
						p B2B:
							span viết tắt của thuật ngữ Business To Business – mô hình kinh doanh thương mại điện tử trong đó giao dịch xảy ra trực tiếp giữa các doanh nghiệp với nhau. 
					figure
						img.img-fluid(src="./img/content/news-detail/news_01.png")
					.text-2
						p Nhiều tổ chức đã thực hiện các khoản đầu tư công phu về content marketing trong những năm gần đây và đã cho ra  báo cáo về những khoản đầu tư đem lại cổ tức.Đó là những những dữ liệu mới nhất từ CMI chúng tôi nhận được.
						p Theo năm 2017 báo cáo tiêu chuẩn và xu hướng từ nội dung Viện Marketing và MarketingProfs, hơn 60% các nhà tiếp thị B2B báo cáo rằng chiến lược content marketing của họ có hiệu quả hơn so với một năm trước đó.
						p Trong năm 2015, 4% các marketers cảm thấy những nỗ lực của họ là “không hề có hiệu quả.
							span ” Rất may, những con số được cải thiện trong năm 2016 với 0% các marketers cho rằng content marketing của họ là “không hề hiệu quả.”
						p Theo năm 2017 báo cáo tiêu chuẩn và xu hướng từ nội dung Viện Marketing và MarketingProfs, hơn 60% các nhà tiếp thị B2B báo cáo rằng chiến lược content marketing của họ có hiệu quả hơn so với một năm trước đó.
						figure
							img.img-fluid(src="./img/content/news-detail/news_01.png")
						p Theo năm 2017 báo cáo tiêu chuẩn và xu hướng từ nội dung Viện Marketing và MarketingProfs, hơn 60% các nhà tiếp thị B2B báo cáo rằng chiến lược content marketing của họ có hiệu quả hơn so với một năm trước đó.
					.social-networks.nav
						.nav-item
							.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
								a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
						.nav-item
							a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
						.nav-item
							.g-plusone(data-size="tall")

			.col-lg-4
				.othernews
					h2 Latest News 
					.lists
						a.item(href="#")
							figure
								.img
									img.img-fluid(src="./img/content/home/home_slider_04.png",  alt="alt")
								figcaption
									time 12/12/2017
									h3 Kusto Group aims to turn its firms into S-E Asian leaders
						a.item(href="#")
							figure
								.img
									img.img-fluid(src="./img/content/home/home_slider_05.png",  alt="alt")
								figcaption
									
									time 12/12/2017
									h3 Alexander Pirogov: “Kusto Logistics is a company that stands by its word”

						a.item(href="#")
							figure
								.img
									img.img-fluid(src="./img/content/home/home_slider_06.png",  alt="alt")
								figcaption
									
									time 12/12/2017
									h3 Kusto Home, Coteccons sign deal on Diamond Island apartments
				.ads(data-fix="80", data-fix-type="initial", data-fix-change="sticky", style="z-index: 500; position: sticky; top: 80px;")
					a(href="#")
						img(src="./img/banner-ads.jpg", alt="")