section.canhcam-jobs-1
	.container
		h2.kusto-title Vacancies
		.row.mb-2
			.col
				.table-responsive
					table.table
						thead
							tr
								th(scope='col') STT
								th(scope='col') Vị trí tuyển dụng
								th(scope='col') Số lượng
								th(scope='col') Hạn nộp hồ sơ
						tbody
							tr
								th(scope='row') 
									a(href="career-detail.html") Sale Executive
								td Ho Chi Minh City
								td Full time
								td 11.07.2018
							tr
								th(scope='row') 
									a(href="career-detail.html") C&B Executive
								td Ho Chi Minh City
								td Full time
								td 11.07.2018
							tr
								th(scope='row') 
									a(href="career-detail.html") Senior Sales Executive
								td Ho Chi Minh City
								td Full time
								td 11.07.2018