section.canhcam-form-1
	article.container.info
		.row
			.col-lg-7
				h3.text-title Điền thông tin tại đây
				p Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho Dịch vụ Content, chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.
		.row
			.col
				form.validator
					.row
						.col#map-change.order-2
							iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1973.8979474298585!2d106.66492969884202!3d10.781126334263641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f04da1cafdf%3A0x5e04042341053804!2zQ8O0bmcgVHkgVEhISCBE4buLY2ggVuG7pSBDb250ZW50!5e0!3m2!1svi!2s!4v1536164796634" frameborder="0" style="border:0" allowfullscreen="")
						.col-md-7.order-1
							.row.pb-4
								.col-sm-12.col-md-6.input
									input.form-control(type="text" placeholder="Họ và tên...")
								.col-sm-12.col-md-6
									input.form-control(type="text" placeholder="Email")
							.row.pb-4
								.col-sm-12.col-md-6.input
									input.form-control(type="text" placeholder="Tiêu đề")
								.col-sm-12.col-md-6
									input.form-control(type="text" placeholder="Số điện thoại")
							.row
								.form-group.col
									textarea#sms.form-control(placeholder='Nội dung...', name="sms", cols="30", rows="5")
							.row
								.col.d-flex.align-items-center.captcha.mb-3
									figure.m-0
										img(src="./img/content/contact/contact_capcha.png", alt="")
									b.reload
										a(href="javascript:void(0)").fas.fa-redo-alt.ml-3.mr-3
									input.form-control.ml-2.mr-3(type="text")
									button.btn.btn-outline-primary.btn-btn-more.text-uppercase(type="submit")
										| Gửi >