section.home-2(bg-img="img/home_bg_2.png")
	.container
		.row
			.col.d-flex.justify-content-center.align-items-center
				.box
					span(data-duration="8000" data-count="2350" data-top="30")
					h5 +
				figure
					img(src="img/home_icon_7.png", alt="alt")
					figcaption.mt-3 Cộng tác viên tham gia
			.col.d-flex.justify-content-center.align-items-center
				.box
					span(data-duration="8000" data-count="2350" data-top="30")
					h5 +
				figure
					img(src="img/home_icon_8.png", alt="alt")
					figcaption.mt-3 Sản phẩm được ATR cung cấp