section.canhcam-boxes-17(bg-img='./img/home_banner_2.png')
	.d-flex.justify-content-center.feature.text-sm-center.text-md-left
		.box
			h3 BẠN LÀ CỘNG TÁC VIÊN?
			p TĂNG DOANH SỐ BÁN HÀNG CÙNG AN TƯỜNG REAL
		.button.d-flex.mt-3.mt-md-0.ml-md-5(style="display:none;align-self: flex-end;")
			a.btn(href="#") Tham gia ngay