section.home-2.pt-3
	.container.mt-5
		.row
			.col-lg-9
				h2.pb-4 Nhân viên Content Maketing
				.row.hh
					.col-md-6.col-12
						.row
							.col-6
								.title.d-flex
									i.mdi.mdi-tag
									b Chức vụ
							.col-6
								.title.d-flex
									p nhân viên
							.col-6
								.title.d-flex
									i.mdi.mdi-menu
									b Hạn nộp hồ sơ
							.col-6
								.title.d-flex
									p 29.7.2018
							.col-6
								.title.d-flex
									i.mdi.mdi-key
									b Hình thức làm việc
							.col-6
								.title.d-flex
									p Làm việc theo ca
							.col-6
								.title.d-flex
									i.mdi.mdi-calendar-today
									b Hình thức làm việc
							.col-6
								.title.d-flex
									p Làm việc theo ca
					.col-md-6.col-12.pt-5.pt-md-0
						.row
							.col-6
								.title.d-flex
									i.mdi.mdi-account
									b Chức vụ
							.col-6
								.title.d-flex
									p nhân viên
							.col-6
								.title.d-flex
									i.mdi.mdi-briefcase
									b Hạn nộp hồ sơ
							.col-6
								.title.d-flex
									p 29.7.2018
							.col-6
								.title.d-flex
									i.mdi.mdi-school
									b Hình thức làm việc
							.col-6
								.title.d-flex
									p Làm việc theo ca
							.col-6
								.title.d-flex
									i.mdi.mdi-cake-variant
									b Hình thức làm việc
							.col-6
								.title.d-flex
									p Làm việc theo ca
				.row.mb-3.pt-5
					.col
						h3.pb-3 mô tả công việc
						ul.list
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
				.row.mb-3
					.col
						h3.pb-3 mô tả công việc
						ul.list
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
				.row.mb-3
					.col
						h3.pb-3 mô tả công việc
						ul.list
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
				.row.mb-3
					.col
						h3.pb-3 mô tả công việc
						ul.list
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
				.row.mb-3
					.col
						h3.pb-3 Nộp hồ sơ
						h4 Tại văn phòng trung tâm: LL1G Ba Vì, Phường 5, Quận 10, Thành phố Hồ Chí Minh
						ul.list.last
							li Hotline: 0981935440
							li Email: contact@dichvucontents.com
						.row.nut
							.col-auto
								a.btn.btn-more(href="#") 
									h4 Nộp hồ sơ
									.circle
										i.mdi.mdi-chevron-right
			.col-lg-3.vitri.pt-5.pt-lg-0.pb-lg-5
				h3 Vị trí khác
				ul.list-group
					li.list-group-item
						a(href="#") Nhân viên kinh doanh
						time 31.7.2018
					li.list-group-item
						a(href="#") Nhân viên kinh doanh
						time 31.7.2018
					li.list-group-item
						a(href="#") Nhân viên kinh doanh
						time 31.7.2018
					li.list-group-item
						a(href="#") Nhân viên kinh doanh
						time 31.7.2018
