section.canhcam-breadcrumb-2(bg-img='./img/content/news/news_bg_01.png')
	.main-breadcrumb
		.container
			.row
				.col-lg-3
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#') Home
						li.breadcrumb-item
							a(href='#') Library
			.row
				.col-lg-3
					h1.text Giới Thiệu

