section.home-2.pt-3
	.container.mt-5
		.row
			.col-md-9
				h2.mb-3 Nhân viên Content Maketing
				.row
					.col-12.table
						.row
							.col-sm-6.col-12.mb-4.mb-md-0
								.row
									.col-6
										b.fa.fa-tag
										h3 Chức vụ
									.col-6
										p Nhân viên
								.row
									.col-6
										b.fas.fa-bars
										h3 Ngành nghề
									.col-6
										p Nhân viên content
								.row
									.col-6
										b.fa.fa-key
										h3 Hình thức làm việc
									.col-6
										p Làm việc theo ca
								.row
									.col-6
										b.far.fa-calendar
										h3 Hạn nộp hồ sơ
									.col-6
										p Nghề nghiệp
							.col-sm-6.col-12
								.row
									.col-6
										b.fas.fa-user-alt
										h3 Chức vụ
									.col-6
										p Nghề nghiệp
								.row
									.col-6
										b.fas.fa-shopping-bag
										h3 Chức vụ
									.col-6
										p Nghề nghiệp
								.row
									.col-6
										b.mdi-cake-variant
										h3 Chức vụ
									.col-6
										p Nghề nghiệp
								.row
									.col-6
										b.fas.fa-birthday-cake
										h3 Chức vụ
									.col-6
										p Nghề nghiệp

				.row.mb-3
					.col
						h3 mô tả công việc
						ul.list
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
				.row.mb-3
					.col
						h3 mô tả công việc
						ul.list
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
				.row.mb-3
					.col
						h3 mô tả công việc
						ul.list
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
				.row.mb-3
					.col
						h3 mô tả công việc
						ul.list
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
				.row.mb-3
					.col
						h3 mô tả công việc
						ul.list
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
				.row.mb-3
					.col
						h3 mô tả công việc
						ul.list
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
							li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
			.col-md-3.vitri.pt-3.pt-md-0
				h3 Vị trí khác
				ul.list-group
					li.list-group-item
						a(href="#") Nhân viên kinh doanh
						time 31.7.2018
					li.list-group-item
						a(href="#") Nhân viên kinh doanh
						time 31.7.2018
					li.list-group-item
						a(href="#") Nhân viên kinh doanh
						time 31.7.2018
					li.list-group-item
						a(href="#") Nhân viên kinh doanh
						time 31.7.2018