section.canhcam-gallery-1
	article.gallery-details
		.container
			.row.title
				h2 Dịch Vụ
			.row.gallery-lists
				.col-sm-6.col-lg-4
					a.item(href="./img/gallery/services-1.png")
						figure
							.boxzoom
								img(src="./img/gallery/services-1.png", alt="Demo title")
							figcaption
								h3 Bài Fanpage Social
				.col-sm-6.col-lg-4
					a.item(href="./img/gallery/services-2.png")
						figure
							.boxzoom
								img(src="./img/gallery/services-2.png", alt="Demo title")
							figcaption
								h3 Bài viết chuẩn SEO
				.col-sm-6.col-lg-4
					a.item(href="./img/gallery/services-3.png")
						figure
							
							.boxzoom
								img(src="./img/gallery/services-3.png", alt="Demo title")
							figcaption
								h3 Bài viết Facebook ads, quảng cáo sản phẩm
				.col-sm-6.col-lg-4
					a.item(href="./img/gallery/services-4.png")
						figure
							.boxzoom
								img(src="./img/gallery/services-4.png", alt="Demo title")
							figcaption
								h3 Bài báo, quảng bá sản phẩm, PR thương hiệu
				.col-sm-6.col-lg-4
					a.item(href="./img/gallery/services-5.png")
						figure
							.boxzoom
								img(src="./img/gallery/services-5.png", alt="Demo title")
							figcaption
								h3 Landing page bán hàng trực tuyến
				.col-sm-6.col-lg-4
					a.item(href="./img/gallery/services-6.png")
						figure
							.boxzoom
								img(src="./img/gallery/services-6.png", alt="Demo title")
							figcaption
								h3 Bài PR đăng website
