section.canhcam-news-3
	article.news-hot
		.container
			.row.title
				h2 Dịch Vụ
			.row#products
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/services-1.png", alt="alt")
							figcaption
								h3 Bài Fanpage Social
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/services-2.png", alt="alt")
							figcaption
								h3 Bài viết chuẩn SEO
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/services-3.png", alt="alt")
							figcaption
								h3 Bài viết Facebook ads, quảng cáo sản phẩm
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/services-4.png", alt="alt")
							figcaption
								h3 Bài báo, quảng bá sản phẩm, PR thương hiệu
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/services-5.png", alt="alt")
							figcaption
								h3 Landing page bán hàng trực tuyến
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/services-6.png", alt="alt")
							figcaption
								h3 Bài PR đăng website