section.canhcam-servies-detail-1
	.container
		.row
			.col-lg-6(data-aos="fade-up-right")
				.img.h-100(bg-img="./img/content/service_details/service_01.png")
					img.img-fluid(src="./img/content/service_details/service_01.png", alt="").img-fluid.d-lg-none.w-100
			.col-lg-6(data-aos="fade-up-left")
				h2.title-text.mb-3 Bài viết chuẩn SEO
				.about.mt-4.mt-lg-0
					h3 Bạn đã sở hữu một website trực quan, sống động nhưng vẫn không có thời gian để viết bài?
					p.mb-3 Hãy tìm kiếm cơ hội nghề nghiệp tại Dịch Vụ Content để khẳng định bản thân và giao lưu học hỏi tạo cho bản thân nền tảng kiến thức vững vàng trong môi trường làm việc thân thiện và năng động
					p Trong định hướng phát triển nhân sự, dịch vụ content tập trung xây dựng chính sách thu hút nhân tài thông qua chính sách lương, thưởng đặc biệt cạnh tranh kết hợp với các hoạt động đào tạo, bồi dưỡng nhằm giữ chân CBNV lâu dài, xây dựng phát triển đội ngũ quản lý kế thừa nhằm đáp ứng nhu cầu nhân sự cấp quản lý cho những năm tiếp theo cũng như thu hút nhân lực giỏi từ nhiều nguồn khác nhau về làm việc cho Công ty.