section.canhcam-boxes-3(bg-img='./img/content/Introduce/I_bg_02.png')
	.tab-control
		.container
			.row.no-gutters.nav(role='tablist')
				a(href="#")#home-nav-1.col1.tab-col.active
					figure
						img(src="./img/content/home/home_01.png", alt="alt" data-aos="zoom-in-up")
						figcaption
							h2 Bài Fanpage Social
				a(href="#")#home-nav-2.col2.tab-col
					figure
						img(src="./img/content/home/home_01.png", alt="alt")
						figcaption
							h2 Bài viết chuẩn SEO
				a(href="#")#home-nav-3.col3.tab-col
					figure
						img(src="./img/content/home/home_01.png", alt="alt")
						figcaption
							h2 Bài viết Facebook ads, quảng cáo sản phẩm
				a(href="#")#home-nav-4.col4.tab-col
					figure
						img(src="./img/content/home/home_01.png", alt="alt")
						figcaption
							h2 Bài báo, quảng bá sản phẩm, PR thương hiệu
				a(href="#")#home-nav-5.col5.tab-col
					figure
						img(src="./img/content/home/home_01.png", alt="alt")
						figcaption
							h2 Landing page bán hàng trực tuyến
				a(href="#")#home-nav-6.col6.tab-col
					figure
						img(src="./img/content/home/home_01.png", alt="alt")
						figcaption
							h2 Landing page bán hàng trực tuyến
	.container
		h2.text-title Lý do chọn
		.row.box
			.col-lg-4
				figure
					.img
						img(src="./img/content/Introduce/i_slider_01.png", alt="").img-fluid
					figcaption
						h3 Bài viết mới 100%
						p Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.
			.col-lg-4
				figure
					.img
						img(src="./img/content/Introduce/i_slider_02.png", alt="").img-fluid
					figcaption
						h3 Bài viết mới 100%
						p Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.
			.col-lg-4
				figure
					.img
						img(src="./img/content/Introduce/i_slider_03.png", alt="").img-fluid
					figcaption
						h3 Bài viết mới 100%
						p Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.

