section.canhcam-banner-1
	article.list-items
		.item(bg-img="./img/home_slider_1.png")
			.container.mt-5
				.row.no-gutters.align-items-center
					.col-md-5.d-flex.align-self-center
						img(src="img/home_icon_1.png", alt="",style="width:24px;height:24px")
						.text.ml-4
							h1 Mạng lưới cộng tác viên bất động sản hiệu quả và uy tín
							p Kiếm thu nhập cùng AN TƯỜNG REAL từ hơn 100 dự án BĐS hấp dẫn của các nhà đầu tư hàng đầu Việt Nam.
					.col-md-7
						figure
							img.img-fluid(src="img/home_earth.png", alt="")
		.item(bg-img="./img/home_slider_1.png")
			.container.mt-5
				.row.no-gutters.align-items-center
					.col-md-5.d-flex.align-self-center
						img(src="img/home_icon_1.png", alt="",style="width:24px;height:24px")
						.text.ml-4
							h1 Mạng lưới cộng tác viên bất động sản hiệu quả và uy tín
							p Kiếm thu nhập cùng AN TƯỜNG REAL từ hơn 100 dự án BĐS hấp dẫn của các nhà đầu tư hàng đầu Việt Nam.
					.col-md-7
						figure
							img.img-fluid(src="img/home_earth.png", alt="")