section.canhcam-contact-2
	.container
		h2.text-title Lý do chọn
		.row.box
			.col-lg-4
				figure(data-aos="zoom-in-right" data-aos-duration="1000")
					.img
						img(src="./img/content/contact/contact_01.png", alt="").img-fluid
					figcaption
						h3 Địa chỉ
						p LL1G Ba Vì, Phường 5, Quận 10, Thành phố Hồ Chí Minh
			.col-lg-4
				figure(data-aos="zoom-in-up" data-aos-duration="1000" )
					.img
						img(src="./img/content/contact/contact_02.png", alt="").img-fluid
					figcaption
						h3 Hotline
						p Gọi ngay cho chúng tôi 
						span 098 193 5440

			.col-lg-4
				figure(data-aos="zoom-in-left" data-aos-duration="1000")
					.img
						img(src="./img/content/contact/contact_03.png", alt="").img-fluid
					figcaption
						h3 Bài viết mới 100%
						p Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.

