section.canhcam-slider-2
	article.owl-carousel.owl-theme.list-items
		.item(bg-img="./img/content/home/home_slider_01.png")
			//- .title
			//- 	h1.h1 Dịch vụ Content
			//- 	p Viết thay lời nói của bạn
		.item(bg-img="./img/content/home/home_slider_02.png")
			.row
				.col-lg-6.title
					p Bạn cần một bài viết chuẩn <span>SEO</span>, chúng tôi sẽ đáp ứng hơn cả sự mong đợi
		.item(bg-img="./img/content/home/home_slider_03.png")
			.title.col-lg-6
				p Tối ưu <span>doanh thu</span>, thu hút người đọc cùng Dịch vụ content

		
