footer.canhcam-footer-1
	.linkfooter
		.container
			.row
				.col-md-4.col-lg-3
					.row
						.col.col-md-12.text-center.text-md-left
							h4 Giới thiệu
							nav.list-group
								.list-group-item
									a(href="#") Về chúng tôi
								.list-group-item
									a(href="#") Tầm nhìn & Sứ mệnh
								.list-group-item
									a(href="#") Hội đồng thành viên
								.list-group-item
									a(href="#") Cam kết hành động
				.col-md-8.col-lg-6
					.row
						.col-12.col-md-6.text-center.text-md-left
							h4.mt-5.mt-md-0 Bán/ Cho thuê
							nav.list-group
								.list-group-item
									a(href="#") Nhà cung cấp
								.list-group-item
									a(href="#") Nhà phân phối
						.col-12.col-md-6.text-center.text-md-left
							h4.mt-5.mt-md-0 Blog
							nav.list-group
								.list-group-item
									a(href="#") Tin thị trường
								.list-group-item
									a(href="#") Affiliate Network
								.list-group-item
									a(href="#") Kiếm tiền Online
								.list-group-item
									a(href="#") Thông báo
				.col-md-12.col-lg-3
					.row
						.col.text-center.text-md-left
							h4.mt-5.mt-md-0 Hỗ trợ
							nav.list-group
								.list-group-item
									a(href="#") Tin thị trường
								.list-group-item
									a(href="#") Affiliate Network
								.list-group-item
									a(href="#") Kiếm tiền Online
								.list-group-item
									a(href="#") Thông báo