section.canhcam-services-detail-02(bg-img='./img/content/home/home_bg_01.png')
	.container(data-aos="fade-left" )
		h2.text-title Gói dịch vụ
		.row.box
			.col-lg-4.box-child
				figure
					figcaption
						h3 100 bài
						p 100 bài SEO 600 từ
			.col-lg-4.box-child
				figure
					figcaption
						h3 30 bài
						p 30 bài SEO 600 từ
			.col-lg-4.box-child
				figure
					figcaption
						h3 Bài lẻ
						p Bài lẻ SEO 600 từ

