section.canhcam-carousel-3
	.container
		.row
			.col.text-center
				h2.h2.mb-5 BLOG
	article.news-list
		.container
			.row
				.col
					.owl-carousel
						a.item(href="#")
							figure
								img.img-fluid(src="./img/home_news_9.png", alt="alt")
								figcaption
									time 12/12/2017
									h3 Nhà đất phía tây bắt đầu nóng trở lại
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas
									span.mt-4.d-inline-block Tin thị trường
						a.item(href="#")
							figure
								img.img-fluid(src="./img/home_news_10.png", alt="alt")
								figcaption
									time 12/12/2017
									h3 Nhà đất phía tây bắt đầu nóng trở lại
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo
									span.mt-4.d-inline-block Tin thị trường

						a.item(href="#")
							figure
								img.img-fluid(src="./img/home_news_11.png", alt="alt")
								figcaption
									time 12/12/2017
									h3 Nhà đất phía tây bắt đầu nóng trở lại
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
									span.mt-4.d-inline-block Tin thị trường
			.row
				.col.text-center.mt-3
					a.btn.btn-primary.btn-more(href="#") Xem Thêm