section.canhcam-carousel-3(bg-img='./img/content/Introduce/I_bg_02.png')
	article.news-list
		.container
			h1.text-title Đội ngũ
			.row
				.col
					.owl-carousel
						.item
							figure
								.picture
									img.img-fluid(src="./img/content/introduce/I_ter_01.png",  alt="alt")
								figcaption
									h3 Trần Quốc Hùng
									p Chief Executive Officer
						.item
							figure
								.picture
									img.img-fluid(src="./img/content/introduce/I_ter_02.png",  alt="alt")
								figcaption
									h3 Lê Kiều Trang
									p Chief Executive Officer
						.item
							figure
								.picture
									img.img-fluid(src="./img/content/introduce/I_ter_03.png",  alt="alt")
								figcaption
									h3 Đoàn Trúc Diễm
									p Chief Executive Officer
						.item
							figure
								.picture
									img.img-fluid(src="./img/content/introduce/I_ter_04.png",  alt="alt")
								figcaption
									h3 Lê Hiếu
									p Chief Executive Officer
						.item
							figure
								.picture
									img.img-fluid(src="./img/content/introduce/I_ter_04.png",  alt="alt")
								figcaption
									h3 Lê Hiếu
									p Chief Executive Officer
		.container.grand
			a(href="#")
				img.img-fluid(src="./img/home/home_grand.png", alt="")