section.canhcam-services-2
	.tab-all(data-aos="fade-up" data-aos-duration="1000")
		.container
			h2.text-title Dịch vụ
			.content
				.row
					.col-6.col-md-4.col-lg-4.item.tab1.active
						a(href="")
							figure
								.img
									img(src="./img/content/home/home_01.png", alt="").img-fluid
								figcaption
									h3 Bài Fanpage Social
					.col-6.col-md-4.col-lg-4.item.tab2
						a(href="")
							figure
								.img
									img(src="./img/content/home/home_02.png", alt="").img-fluid
								figcaption
									h3 Bài viết chuẩn SEO
					.col-6.col-md-4.col-lg-4.item.tab3
						a(href="")
							figure
								.img
									img(src="./img/content/home/home_03.png", alt="").img-fluid
								figcaption
									h3 Bài viết Facebook ads, quảng cáo sản phẩm
					.col-6.col-md-4.col-lg-4.item.tab4
						a(href="")
							figure
								.img
									img(src="./img/content/home/home_04.png", alt="").img-fluid
								figcaption
									h3 Bài báo, quảng bá sản phẩm, PR thương hiệu
					.col-6.col-md-4.col-lg-4.item.tab5
						a(href="")
							figure
								.img
									img(src="./img/content/home/home_05.png", alt="").img-fluid
								figcaption
									h3 Landing page bán hàng trực tuyến
					.col-6.col-md-4.col-lg-4.item.tab6
						a(href="")
							figure
								.img
									img(src="./img/content/home/home_06.png", alt="").img-fluid
								figcaption
									h3 Bài PR đăng website
