extends _layout/layout.pug
block variables
	- var title = "contact"
	- var description = "Description for contact page"
	- var bodyclass = "contact"
	- var href = "/contact.html"
block header
	include ../lib/header/h-2/index.pug
block body
	include ../lib/breadcrumb/b-5/index.pug
	include ../lib/contact/c-2/index.pug
	include ../lib/contact/c-1/index.pug
block footer
	include ../lib/footer/f-6/index.pug
