extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/int.html"
block header
	include ../lib/header/h-2/index.pug
block body
	include ../lib/slider/s-2/index.pug
	include ../lib/boxes/b-3/index.pug
	include ../lib/boxes/b-4/index.pug
	include ../lib/testimonials/t-2/index.pug
	include ../lib/carousel/c-5/index.pug
	include ../lib/carousel/c-4/index.pug
	

//- block footer
//- 	include ../lib/footer/f-10/index.pug
