extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/breadcrumb/b-2/index.pug
