extends _layout/layout.pug
block variables
	- var title = "introduce"
	- var description = "Description for introduce page"
	- var bodyclass = "introduce"
	- var href = "/introduce.html"
block header
	include ../lib/header/h-2/index.pug
block body
	include ../lib/breadcrumb/b-4/index.pug
	include ../lib/boxes/b-1/index.pug
	include ../lib/boxes/b-2/index.pug
	include ../lib/carousel/c-3/index.pug
	include ../lib/testimonials/t-1/index.pug
block footer
	include ../lib/footer/f-6/index.pug
