extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/introducex.html"
block header
	include ../lib/header/h-2/index.pug
block body
	include ../lib/breadcrumb/b-4/index.pug
	include ../lib/boxes/b-1/index.pug
	include ../lib/boxes/b-2/index.pug
	include ../lib/carousel/c-3/index.pug
	include ../lib/testimonials/t-1/index.pug
//- block footer
//- 	include ../lib/footer/f-10/index.pug
