extends _layout/layout.pug
block variables
	- var title = "jobs"
	- var description = "Description for jobs page"
	- var bodyclass = "jobs"
	- var href = "/jobs.html"
block header
	include ../lib/header/h-2/index.pug
block body
	include ../lib/breadcrumb/b-3/index.pug
	include ../lib/jobs/j-1/index.pug
	include ../lib/jobs/j-2/index.pug
block footer
	include ../lib/footer/f-6/index.pug
