extends _layout/layout.pug
block variables
	- var title = "jobs-detail"
	- var description = "Description for jobs-detail page"
	- var bodyclass = "jobs-detail"
	- var href = "/jobs_detail.html"
block header
	include ../lib/header/h-2/index.pug
block body
	include ../lib/breadcrumb/b-4/index.pug
	include ../lib/jobs-detail/j-1/index.pug
block footer
	include ../lib/footer/f-6/index.pug
