extends _layout/layout.pug
block variables
	- var title = "news-details"
	- var description = "Description for news-details page"
	- var bodyclass = "news-details"
	- var href = "/news-details.html"
block header
	include ../lib/header/h-2/index.pug
block body
	include ../lib/breadcrumb/b-2/index.pug
	include ../lib/news-details/n-1/index.pug
block footer
	include ../lib/footer/f-6/index.pug
