extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/services.html"
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/news/n-3/index.pug
	//- include ../lib/gallery/g-1/index.pug
