extends _layout/layout.pug
block variables
	- var title = "services-detail"
	- var description = "Description for services-detail page"
	- var bodyclass = "services-detail"
	- var href = "/services-detail.html"
block header
	include ../lib/header/h-2/index.pug
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/services-detail/s-1/index.pug
	include ../lib/services-detail/s-2/index.pug
	include ../lib/services-detail/s-3/index.pug
	include ../lib/carousel/c-4/index.pug
	
block footer
	include ../lib/footer/f-6/index.pug