footer.canhcam-footer-7
	.footer-content
		.container
			.row.justify-content-between
				.col-md-5.col-lg-6.mb-3
					.slogan.text-center.text-md-left
						.logo 
							a.mb-4(href="")
								img(src="./img/logo_2.png", alt="logo")
						.quote.mb-4.mb-md-0 
							h6.h6 Công ty TNHH An Tường Real
							.text Tòa nhà Charmington La Pointe - 181 Cao Thắng, P. 12, Q. 10, TP. HCM
							.info
								p
									em.mr-3.mdi.mdi-fax
									| nfo@antuongreal.vn
								p
									em.mr-3.mdi.mdi-fax
									| nfo@antuongreal.vn
				.col-sm-6.col-md.mb-3
					.footer-nav
						h6.text-center.text-md-left Kết nối với chúng tôi
						ul.text-center.text-md-left.list-inline
							li.list-inline-item
								a(href="#") 
									i.fab.fa-facebook-f
							li.list-inline-item
								a(href="#") 
									i.fa.fa-heart
							li.list-inline-item
								a(href="#") 
									i.fa.fa-heart
						.phone.mt-4.text-center.text-md-left
							b 1900 2671
				.col-sm-6.col-md.mt-3.mt-sm-0
					.footer-nav
						h6.text-center.text-md-left Đăng ký nhận bản tin
						p Đăng kí nhận những cập nhật mới nhất về bất động sản & Tip kiếm tiền online hiệu quả với An Tường Real.
						.nut.d-flex
							input.form-control(type="text", name="",placeholder="Địa chỉ Email...")
							.input-group-append
								.btn.btn-send.searchbtn
									u Gửi

	.copy-right
		.container
			.row
				.col-auto.text-xs-center
					ul.list-inline.text-xs-center
						li.list-inline-item
							a(href="#") Chính sách bảo mật
						li.list-inline-item
							a(href="#") Sơ đồ trang
				.col-xs-12.text-left
					span © 2018 ABC.,Ltd . All Rights Reserved. Designed by Cánh Cam.
