section.home-2.pt-3
	.container.mt-5
		.content
			.row
				.col-lg-9
					h2.pb-4 Nhân viên Content Maketing
					.hh
						.row
							.col-md-6.col-12
								.row
									.col-6
										.title.d-flex
											i.mdi.mdi-tag
											b Chức vụ
									.col-6
										.title.d-flex
											p nhân viên
									.col-6
										.title.d-flex
											i.mdi.mdi-menu
											b Hạn nộp hồ sơ
									.col-6
										.title.d-flex
											p 29.7.2018
									.col-6
										.title.d-flex
											i.mdi.mdi-key
											b Hình thức làm việc
									.col-6
										.title.d-flex
											p Làm việc theo ca
									.col-6
										.title.d-flex
											i.mdi.mdi-calendar-today
											b Hình thức làm việc
									.col-6
										.title.d-flex
											p Làm việc theo ca
							.col-md-6.col-12.pt-5.pt-md-0
								.row
									.col-6
										.title.d-flex
											i.mdi.mdi-account
											b Chức vụ
									.col-6
										.title.d-flex
											p nhân viên
									.col-6
										.title.d-flex
											i.mdi.mdi-briefcase
											b Hạn nộp hồ sơ
									.col-6
										.title.d-flex
											p 29.7.2018
									.col-6
										.title.d-flex
											i.mdi.mdi-school
											b Hình thức làm việc
									.col-6
										.title.d-flex
											p Làm việc theo ca
									.col-6
										.title.d-flex
											i.mdi.mdi-cake-variant
											b Hình thức làm việc
									.col-6
										.title.d-flex
											p Làm việc theo ca
					.row.mb-3.pt-5
						.col
							h3.pb-3 mô tả công việc
							ul.list
								li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
								li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
								li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
								li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
								li Viết nội dung đăng bài lên các kênh:Facebook,website,... theo yêu cầu của quản lý.
					.row.mb-3
						.col
							h3.pb-3 quyền lợi được hưởng
							ul.list
								li Ðược đóng Bảo hiểm y tế, BHXH theo luật định
								li Ðược hỗ trợ đào tạo chuyên nghành nâng cao nghiệp vụ, kiến thức trình độ
								li Ðược hưởng phúc lợi: Ngày lễ tết, ngày sinh nhật
								li Chế độ hưởng theo quy định riêng của công ty trong từng thời kỳ và được xem xét tùy thuộc vào cống hiến của từng cá nhân.
					.row.mb-3
						.col
							h3.pb-3 yêu cầu khác
							ul.list
								li Cẩn thận, trung thực, chính xác.
								li Nhiệt tình, hoạt bát, có sức khỏe tốt
								li Không vướng bận việc học
					.row.mb-3
						.col
							h3.pb-3 hồ sơ bao gồm
							ul.list
								li Ðơn xin việc (ghi rõ vị trí ứng tuyển).
								li So yếu lý lịch có xác nhận địa phuong
								li Văn bằng chứng chỉ liên quan
								li Giấy khám sức khỏe(thời hạn 6 tháng)
								li CMND photo công chứng
								li Hộ khẩu photo công chứng
					.row.mb-3
						.col
							h3.pb-3 Nộp hồ sơ
							h4 Tại văn phòng trung tâm: 
								b LL1G Ba Vì, Phường 5, Quận 10, Thành phố Hồ Chí Minh
							ul.list.last
								li Hotline: 0981935440
								li Email: contact@dichvucontents.com
							.row.nut
								.col-auto
									a.btn.btn-more(href="#") 
										h4 Nộp hồ sơ
										.circle
											i.mdi.mdi-chevron-right
				.col-lg-3.vitri.pt-5.pt-lg-0.pb-lg-5
					h3.pt-2.pb-3 Vị trí khác
					ul.list-group
						li.list-group-item
							a(href="#") Nhân viên kinh doanh
							time 31.7.2018
						li.list-group-item
							a(href="#") Nhân viên kinh doanh
							time 31.7.2018
						li.list-group-item
							a(href="#") Nhân viên kinh doanh
							time 31.7.2018
						li.list-group-item
							a(href="#") Nhân viên kinh doanh
							time 31.7.2018
