section.canhcam-boxes-1
	article.container
		.row
			.col.text-center
				h3 3 bước kiếm thu nhập cùng An Tường Real
		.row.no-gutters.boxes-details
			-for(x=1;x<4;x++)
				.item.col-lg-4
					.row.no-gutters
						.col.text-center
							img.img-fluid.mb-5(src="img/home_step_"+x+".png", alt="")
							h3 Đăng ký cộng tác viên
							p Tạo tài khoản để bắt đầu kiếm thu nhập
		.row.text-center
			.col
				p
					a.btn.btn-primary.btn-more(href="#") Xem thêm