section.canhcam-boxes-1(bg-img='./img/content/Introduce/I_bg_02.png')
	.container
		h2.text-title Lý do chọn
		.row.box
			.col-lg-4
				figure(data-aos="zoom-in-right" data-aos-duration="1000")
					.img
						img(src="./img/content/Introduce/i_slider_01.png", alt="").img-fluid
					figcaption
						h3 Bài viết mới 100%
						p Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.
			.col-lg-4
				figure(data-aos="zoom-in-up" data-aos-duration="1000" )
					.img
						img(src="./img/content/Introduce/i_slider_02.png", alt="").img-fluid
					figcaption
						h3 Bài viết mới 100%
						p Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.
			.col-lg-4
				figure(data-aos="zoom-in-left" data-aos-duration="1000")
					.img
						img(src="./img/content/Introduce/i_slider_03.png", alt="").img-fluid
					figcaption
						h3 Bài viết mới 100%
						p Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.

