section.canhcam-services-detail-03
	.container
		.default-title.text-center
			h1.text-title Quan hệ cổ đông
		.content
			.row
				.col-lg-3.col-md-6.item
					
					figure
						.img
							img(src="./img/content/service_details/service_02.png", alt="").img-fluid.w-100
						figcaption(data-mh='autoHeight')
							h4.mb-4 Lấy thông tin:
							.number
								time 01
							.text
								p.mb-0 Thông tin được cập nhật từ những nguồn mới nhất trên thị trường chúng tôi nghiên cứu các từ khóa tốt nhất để đảm bảo quá trình viết bài đạt chuẩn
				.col-lg-3.col-md-6.item
					
					figure
						.img
							img(src="./img/content/service_details/service_03.png", alt="").img-fluid.w-100
						figcaption(data-mh='autoHeight')
							h4.mb-4 Viết bài:
							.number
								time 02
							.text
								p.mb-0 Thông tin được cập nhật từ những nguồn mới nhất trên thị trường chúng tôi nghiên cứu các từ khóa tốt nhất để đảm bảo quá trình viết bài đạt chuẩn
				.col-lg-3.col-md-6.item
					
					figure
						.img
							img(src="./img/content/service_details/service_04.png", alt="").img-fluid.w-100
						figcaption(data-mh='autoHeight')
							h4.mb-4 Khách hàng duyệt:
							.number
								time 03
							.text
								p.mb-0 Thông tin được cập nhật từ những nguồn mới nhất trên thị trường chúng tôi nghiên cứu các từ khóa tốt nhất để đảm bảo quá trình viết bài đạt chuẩn
				.col-lg-3.col-md-6.item
					
					figure
						.img
							img(src="./img/content/service_details/service_05.png", alt="").img-fluid.w-100
						figcaption(data-mh='autoHeight')
							h4.mb-4 Nhập lên website:
							.number
								time 04
							.text
								p.mb-0 Thông tin được cập nhật từ những nguồn mới nhất trên thị trường chúng tôi nghiên cứu các từ khóa tốt nhất để đảm bảo quá trình viết bài đạt chuẩn
				