section.canhcam-testimonials-2(bg-img-responsive="./img/content/home/home_bg_slider_02.png", bg-img-responsive-sm="./img/content/home/home_bg_slider_01.png", bg-img-responsive-xs="./img/content/home/home_bg_slider_01.png")
	.container
		h2.text-title.white Cảm nhận của khách hàng
		.row
			.col
				.testimonial-slider.owl-carousel
					figure.item
						img(src='./img/content/home/home_icon_01.png', alt='').img-fluid
						figcaption
							p
								| “ Chúng tôi đã có khoảng thời gian hợp tác đáng nhớ với Dịch Vụ Content, bất cứ lúc nào chúng tôi cần bài viết mới, với những yêu cầu và ý tưởng sẵn có, chúng tôi luôn nhận được những bài viết hoàn toàn sáng tạo. ”
							.author
								h5.mt-4
									span Chị Nguyễn Thị Thơ - Chủ shop Online
					figure.item
						img(src='./img/content/home/home_icon_01.png', alt='').img-fluid
						figcaption
							p
								| “ Chúng tôi đã có khoảng thời gian hợp tác đáng nhớ với Dịch Vụ Content, bất cứ lúc nào chúng tôi cần bài viết mới, với những yêu cầu và ý tưởng sẵn có, chúng tôi luôn nhận được những bài viết hoàn toàn sáng tạo. ”
							.author
								h5.mt-4
									span Chị Nguyễn Thị Thơ - Chủ shop Online
					figure.item
						img(src='./img/content/home/home_icon_01.png', alt='').img-fluid
						figcaption
							p
								| “ Chúng tôi đã có khoảng thời gian hợp tác đáng nhớ với Dịch Vụ Content, bất cứ lúc nào chúng tôi cần bài viết mới, với những yêu cầu và ý tưởng sẵn có, chúng tôi luôn nhận được những bài viết hoàn toàn sáng tạo. ”
							.author
								h5.mt-4
									span Chị Nguyễn Thị Thơ - Chủ shop Online