section.canhcam-news-1
	.container
		h2.text-title Tin Tức
		.container.news-item
			.row
				.col-lg-6.top-list
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/content/news/news_01.png", alt="alt")
							figcaption
								.text
									time 12/12/2017
									h3 6 phương pháp soạn content marketing cho người không giỏi viết
								
				.col-lg-6.part-list
					a.item(href="#")
						figure.row
							.col-md-4
								.img
									img.img-fluid(src="./img/content/news/news_02.png", alt="alt")
							figcaption.col-md-8
								time 12/12/2017
								h3 15 Bí Kíp Để Viết Content Hiệu Quả
								
					a.item(href="#")
						figure.row
							.col-md-4
								.img
									img.img-fluid(src="./img/content/news/news_03.png", alt="alt")
							figcaption.col-md-8
								time 12/12/2017
								h3 Dự báo 3 xu hướng Content Marketing năm 2018
								
					a.item(href="#")
						figure.row
							.col-md-4
								.img
									img.img-fluid(src="./img/content/news/news_04.png", alt="alt")
							figcaption.col-md-8
								time 12/12/2017
								h3 Dự báo 3 xu hướng Content Marketing năm 2018
								
			.row.other-list
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/content/news/news_05.png", alt="alt")
							figcaption
								time 12/12/2017
								p Vai trò của thiết kế trong Content Marketing và những điều Marketer cần biết.
								
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/content/news/news_06.png", alt="alt")
							figcaption
								time 12/12/2017
								p Vai trò của thiết kế trong Content Marketing và những điều Marketer cần biết.
								
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/content/news/news_07.png", alt="alt")
							figcaption
								time 12/12/2017
								p Vai trò của thiết kế trong Content Marketing và những điều Marketer cần biết.
								
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/content/news/news_08.png", alt="alt")
							figcaption
								time 12/12/2017
								p Vai trò của thiết kế trong Content Marketing và những điều Marketer cần biết.
								
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/content/news/news_06.png", alt="alt")
							figcaption
								time 12/12/2017
								p Vai trò của thiết kế trong Content Marketing và những điều Marketer cần biết.
								
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/content/news/news_07.png", alt="alt")
							figcaption
								time 12/12/2017
								p Vai trò của thiết kế trong Content Marketing và những điều Marketer cần biết.
								
