footer.canhcam-footer-6(bg-img='./img/content/introduce/I_bg_02.png')
	.linkfooter
		.container
			.row
				.col-md-12.col-lg-4
					figure
						img.img-fluid(src="./img/content/logo_03.png", alt="")
						figcaption
							p.mt-3 LL1G Ba Vì, Phường 5, Quận 10, Thành phố Hồ Chí Minh
							p.mb-0 Hotline: 098 193 5440
							p.mb-0 Email: contact@dichvucontents.com

				.col-md.col-lg-4.mt-3.mt-lg-0
					h4.text-center.text-md-left Giới thiệu
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Tổng quan
						.list-group-item
							a(href="#") Tầm nhìn - Sứ mệnh
						.list-group-item
							a(href="#") Tại sao chọn chúng tôi
						.list-group-item
							a(href="#") Cơ cấu tổ chức
						.list-group-item
							a(href="#") Tuyển dụng
				.col-md.col-lg-4.mt-3.mt-lg-0
					h4.text-center.text-md-left Dịch vụ Content
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Bài Fanpage Social
						.list-group-item
							a(href="#") Bài viết chuẩn SEO
						.list-group-item
							a(href="#") Bài viết Facebook ads, quảng cáo sản phẩm.
						.list-group-item
							a(href="#") Bài báo, quảng bá sản phẩm, PR thương hiệu
						.list-group-item
							a(href="#") Landing page bán hàng trực tuyến
						.list-group-item
							a(href="#") Bài PR đăng website

	.footer-button
		.container
			.row
				.col-md-4.d-flex.flex-column.justify-content-center
					h5 Đăng ký nhận bản tin
					p Kết nối với chúng tôi để nhận được thông tin mới nhất.
				.col-md-4.text-center.justify-content-center.d-flex
					form.form-inline
						.input-group.box-input
							input.form-control(type='text', placeholder="Điền địa chỉ mail của bạn..", aria-label="Search", aria-describedby='basic-addon2')
							.input-group-append
								button.btn.btn-primary.searchbtn(type='button') Đăng ký
									
				.col-md-4
					.socials
						.social-list
							ul.list-inline.text-center.text-lg-right.mb-0
								li.list-inline-item
									a(href='#', target='_blank')
										i.fab.fa-facebook-f
								li.list-inline-item
									a(href='#', target='_blank')
										i.fab.fa-youtube
								li.list-inline-item
									a(href='#', target='_blank')
										i.fab.fa-google-plus-g
	.copyright
		.container
			.row.align-items-center
				.col-md.text-center.text-md-left.mb-4.mb-md-0
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Điều kiện & Điều khoản  
						.list-group-item
							a(href="#") Chính sách bảo mật
						.list-group-item
							a(href="#") Sitemap
				.col-md-auto.text-center.text-md-right.text-right 2018 by Canh Cam. All right reserved. designed by Canh Cam